.player-search-results {
  position: absolute;
  z-index: 1050;
  top: calc(100% + 0.25rem);
  right: 0;
  left: 0;
  max-height: 20rem;
  overflow-y: auto;
}

.player-result {
  text-align: left;
}

.selected-player {
  background-color: var(--bs-light-bg-subtle);
}
